/* used for https://sev2021.github.io/mix game */
#btns {
    display: grid;
    margin: 0 auto;
    aspect-ratio : 1 / 0.65;
    width: 90%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0px;
}

#mix {
    margin: 10px 40%;
    width: 20%;

}

button {

    font-size: 24px;
    color: #fff;
    background-image: url("/images/porsche.jpg");
    background-repeat: no-repeat;
    background-size: 300% 400%;
}

.img0 {
    background-position: 0% 0%;
}
.img1 {
    background-position: 50% 0px;
}
.img2 {
    background-position: 100% 0px;
}
.img3 {
    background-position: 0% 34%;
}
.img4 {
    background-position: 50% 34%;
}
.img5 {
    background-position: 100% 34%;
}
.img6 {
    background-position: 0% 67%;
}
.img7 {
    background-position: 50% 67%;
}
.img8 {
    background-position: 100% 67%;
}
.img9 {
    background-position: 0% 100%;
}
.img10 {
    background-position: 50% 100%;
}
.img11 {
    background-position: 150% 100%;
}
