* {transition: 0.5s;}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #ddd;
}

.card {
  padding: 10px;
  border: 1px solid #888;
  margin: 10px;
}

.card.completed{
  opacity: 0.5;
}

.card.completed h4{
  text-decoration: line-through;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* ----------------------- */


 h1, h2 {
   font-family: Georgia, "Times New Roman", serif;
   font-weight: bold; }

 h3, h4 {
   font-family: Georgia, "Times New Roman", serif; }

 h1 {
   margin-bottom: 15px; }

h2 {
  margin-bottom: 10px; }

h1 a, h2 a, h3 a, h4 a, nav a {
  text-decoration: none; }

a {
  color: #d14448;
  -o-transition: all 0.2s ease-in-out 0;
  -webkit-transition: all 0.2s ease-in-out 0;
  -moz-transition: all 0.2s ease-in-out 0;
  transition: all 0.2s ease-in-out 0; }
  a img {
    -o-transition: all 0.2s ease-in-out 0;
    -webkit-transition: all 0.2s ease-in-out 0;
    -moz-transition: all 0.2s ease-in-out 0;
    transition: all 0.2s ease-in-out 0; }
  a:hover {
    text-decoration: underline;
    color: #3b3b3c; }
    a:hover img {
      opacity: 0.8; }

a.text2link, header#header nav ul li a, .postTitle a, .meta a, .commentlist .comment-author a, #sidebar a {
  color: #3b3b3c; }
  a.text2link:hover, header#header nav ul li a:hover, .postTitle a:hover, .meta a:hover, .commentlist .comment-author a:hover, #sidebar a:hover {
    color: #d14448; }

article {
  overflow: hidden; }
  article ul {
    margin-left: 2%;
    margin-left: 5%;
    padding-bottom: 1.1em; }
    article ul li {
      list-style-type: disc; }
  article ol {
    margin-left: 5%;
    padding-bottom: 1.1em; }
    article ol li {
      list-style-type: decimal; }
      article ol li ol li {
        list-style-type: lower-latin; }
  article .entry {
    overflow: hidden; }
  article .meta {
    clear: both; }

.box, .comments, #respond, .boxGreen, .boxRed, .boxBlue, .boxGrey {
  padding: 0;
  margin: 0 0 20px 0;
  background: transparent; }
  @media (min-width: 600px) {
       .box, #respond, .boxGreen, .boxRed, .boxBlue, .boxGrey {
            padding: 10px;
      }
  }

blockquote {
  border: 1px solid #dddddd;
  padding: 10px 10px 5px 45px;
  width: 80%;
  margin: 10px auto 1.1em auto;
  background: url(img/quote.png) 6px 4px no-repeat #f9f9fa;
  font-style: italic;
  clear: both; }
  blockquote p, blockquote ul, blockquote ol {
    margin-bottom: 5px; }

/**********************************************************************
 * 			Doc icons
 ********************************************************************/
a[href$="doc"], a[href$="docx"] {
  background: url(img/doc/doc-ico.png) center left no-repeat;
  padding: 5px 0;
  padding-left: 30px; }

a[href$="pdf"] {
  background: url(img/doc/pdf-ico.png) center left no-repeat;
  padding: 5px 0;
  padding-left: 30px; }

a[href$="txt"], a[href$="xls"], a[href$="xlsx"] {
  background: url(img/doc/plaindoc-ico.png) center left no-repeat;
  padding: 5px 0;
  padding-left: 30px; }

/**********************************************************************
 * 			Wrapper
 ********************************************************************/
.wrapper, header#header nav ul {
  max-width: 1120px;
  margin: 0 auto;
  position: relative; }

/**********************************************************************
 * 			Header
 ********************************************************************/
header#header {
     position: relative;
     background: #f2f2f2 url(img/sekurak_m.png?2008) top left no-repeat;
     background-size: auto 108px;
     margin-bottom: 35px;
}
@media (min-width: 600px) {
     header#header {
          background-size: auto 100%;
     }
}
@media (min-width: 768px) {
     header#header {
        background-image: url(img/sekurak.png?2008);
          background-size: auto;
          background-position: top center;
     }
     header#header .nav-wrapper {
        background: linear-gradient(to bottom, #fbfbfb 0%,#dadada 100%);
     }

}
  header#header h1 {
    margin: 0; }
header#header .logo {
    display: block;
    text-indent: -9999px;
    height: 108px;
}
@media (min-width: 768px) {
     header#header .logo {
         height: 173px;
         width: 460px;
     }
}
  header#header nav {
     }
    @media (min-width: 600px) and (min-height: 420px) {
         header#header nav {
           background-image: url(img/navBg.png);
           background-image: none;
       }
    }

    header#header nav .current-menu-item > a,
    header#header nav .current-menu-ancestor > a,
    header#header nav .current_page_item > a,
    header#header nav .current_page_ancestor > a {
      color: #d14448; }
    header#header nav ul {
      text-align: center;
      overflow: visible; }
      header#header nav ul li {
        display: inline-block;
        position: relative;
        padding: 8px 0;
        /*a*/ }
        @media (min-width: 900px) {
          header#header nav ul li {
               padding: 18px 0;
          }
        }

        header#header nav ul li:last-child {
          padding-right: 0; }
          header#header nav ul li:last-child a {
            border-right: none; }
        header#header nav ul li:first-child {
          padding-left: 0; }
        header#header nav ul li a {
          font-size: 0.95em;
          display: inline-block;
          border-right: 2px solid #3b3b3c;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 100%;
          padding: 0px 20px 0px 14px;
     }
     @media (min-width: 768px) and (max-width: 899px) {
          header#header nav ul li a {
               font-size: 0.75em;
               padding: 0px 15px 0px 9px;
          }
     }
          header#header nav ul li a.active {
            color: #d14448; }
        header#header nav ul li ul {
          display: none;
          border: 1px solid #D8DDE5;
          position: absolute;
          top: 56px;
          /*Height of the first row*/
          left: -8px;
          width: 230px;
          z-index: 5;
          font-size: 0.9em;
          background-color: #F0F1F4; }
          header#header nav ul li ul li {
            display: block; }
        header#header nav ul li:hover ul {
          display: block; }

/**********************************************************************
 * 			Page
 ********************************************************************/
.pageTitle {
  margin-bottom: 40px; }
  .pageTitle em {
    color: #616163; }

/**********************************************************************
 * 			Single
 ********************************************************************/
.post {
  margin-bottom: 40px; }

.single .post {
  margin-bottom: 25px; }

.postTitle {
  margin-left: 5px; }

.meta {
  border-top: 1px solid #d14448;
  font-size: 0.7em;
  padding: 5px;
  text-transform: uppercase;
  line-height: 120%; }

.entry {
  margin-top: 10px;
  font-size: 0.9em; }
  .entry h2 {
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 0.5em;
    line-height: 130%; }
  .entry ul {
    list-style: url(img/bullet.gif); }
    .entry ul li {
      margin-bottom: 0.5em; }

.excerpt p {
  margin-bottom: 0px; }

.readMore {
  font-size: 0.9em; }
  @media (max-width: 767px) {
       .readMore {
         font-size: 1.25em; }
  }

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding: 10px 5px 5px 5px; }
  .wp-caption.alignnone, .wp-caption.aligncenter {
    margin: 5px auto 1.1em auto; }
  .wp-caption.alignleft {
    float: left;
    margin-right: 10px;
    margin-bottom: 1.1em; }
  .wp-caption.alignright {
    float: right;
    margin-left: 10px;
    margin-bottom: 1.1em; }
  .wp-caption .wp-caption-text {
    font-size: 0.9em;
    padding: 5px 4px 5px 4px;
    margin: 0;
    line-height: 100%; }

    @media (max-width: 767px) {
         .wp-caption {
              max-width: 100%;
              box-sizing: border-box;
         }
    }

.tags {
  border-top: 1px solid #d14448;
  border-bottom: 1px solid #d14448;
  padding: 5px 10px;
  font-size: 0.9em;
  margin-bottom: 25px; }

/**********************************************************************
 * 			Content
 ********************************************************************/
#content {
     padding: 0 16px;
     box-sizing: border-box;
}
@media (min-width: 768px) {
     #content {
       float: left;
       width: 70%;
       padding: 0 8px;
     }
}
@media (min-width: 1140px) {
     #content {
       padding: 0;
     }
}

#content.full {
  float: none;
  width: auto;
  margin-left: 10px;
  margin-right: 10px; }

/**********************************************************************
 * 			Comments
 ********************************************************************/
h2.commentsHeader, .soc-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #d14448;
  text-align: left; }

.comments {
  clear: both;
  margin-bottom: 0; }

.commentlist li {
  clear: both;
  margin-bottom: 20px;
  padding: 10px;
  background: #f6f6f6; }
.commentlist ul li + li {
  margin-top: -30px;
  }
.commentlist li:last-child {
  border: none;
  margin-bottom: 0;
}
.commentlist .commentHeader {
  overflow: hidden;
  margin-bottom: 10px; }
.commentlist .comment-author {
  font-size: 1.1em;
  width: auto;
  font-weight: bold;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: #545456; }
  .commentlist .comment-author img {
    float: left;
    margin-right: 15px;
    padding: 2px;
    border: 1px solid #bdbdbd;
    background: #fff; }
.commentlist .commentmetadata {
  font-size: 0.8em;
  color: #bdbdbd; }
.commentlist article {
  font-size: 0.9em;
  line-height: 120%; }

#respond {
  clear: both; }
  #respond input[type="text"] {
    width: 50%;
    max-width: 250px; }
  #respond label {
    font-size: 0.8em; }
  #respond h2 {
    font-size: 1em; }

/**********************************************************************
 * 			Sidebar
 ********************************************************************/
#sidebar {
  font-size: 0.8em;
  padding: 0 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
     #sidebar {
          float: right;
          width: 26%;
          padding: 0 16px 0 0;
     }
}
@media (min-width: 1140px) {
     #sidebar {
          padding: 0;
     }
}
.sidebar-mobile {
     display: none;
     padding: 0 16px;
     box-sizing: border-box;
}
@media (max-width: 767px) {
     .sidebar-mobile {
          display: block;
          text-align: center;
     }
}


  #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4 {
    color: #d14448; }

.widget {
  margin-bottom: 25px; }
  .widget ul {
    background-color: #f9f9fa; }
    .widget ul li {
      border-bottom: 1px solid #dddddd;
      padding: 10px; }
      .widget ul li a {
        display: block; }
  .widget .textwidget {
    padding: 10px;
    background-color: #f9f9fa; }
  .widget .tagcloud {
    padding-top: 10px;
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; }
  .widget.socialIcons {
    padding-left: 10px; }

.widgetTitle {
  color: #d14448;
  text-transform: uppercase;
  padding: 10px;
  background: #e8ecf3;
  margin-bottom: 0;
  font-size: 1em; }

/**********************************************************************
 * 			Footer
 ********************************************************************/
footer#footer {
  clear: both;
  padding: 20px 10px;
  font-size: 0.85em;
  color: #a4a4a4;
  background: #f2f2f2;
  overflow: hidden; }
  footer#footer .madeby {
    float: right;
    text-align: right;
    width: 250px; }
  footer#footer .copyright {
    float: left;
    width: 250px; }
  footer#footer nav {
    padding: 0px 0;
    text-align: center; }
    footer#footer nav ul li {
      display: inline-block;
      padding: 0 15px; }
      footer#footer nav ul li:last-child {
        padding-right: 0; }
      footer#footer nav ul li:first-child {
        padding-left: 0; }
      footer#footer nav ul li ul {
        display: none; }
      footer#footer nav ul li a {
        padding: 0px;
        display: inline-block; }
        footer#footer nav ul li a.active {
          font-weight: bold; }

.scrollTo_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; }

/*.fb-like-box {
	clear: both;
}
.fb-like-box, .fb-like-box span[style], .fb-like-box span iframe[style] { width: 100% !important; max-width: 620px !important; }*/
/**********************************************************************
 * 			Forms
 ********************************************************************/
form p {
  margin-bottom: 5px; }

input, textarea, select {
  font-size: 0.9em;
  padding: 4px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 500px;
     box-sizing: border-box;
 }
  input:focus, textarea:focus, select:focus {
    border-color: #bbb; }

input[type="submit"] {
  padding: 4px 10px;
  width: auto;
  color: #fff;
  background: #444444;
  border: 1px solid #444; }

.submit {
  text-align: right;
  width: 97%;
  max-width: 500px; }

label {
  font-size: 0.9em; }

/**********************************************************************
 * 			Contact Form
 ********************************************************************/
.contact_form input[type="text"], .contact_form textarea, .contact_form select, .contact_form label {
  display: block; }

/**********************************************************************
 * 			Search Form
 ********************************************************************/
.searchBox {
  border: 1px solid #828282;
  padding: 0;
  height: 39px;
  background: #fff;
  width: 249px;
  margin: 0 auto; }

@media (min-width: 768px) {
     #header .searchBox {
          position: absolute;
          bottom: auto;
          top: -62px;
          right: 10px;
     }
     #header .searchBox:after {
       content: '';
       width: 30px;
       height: 21px;
       background: url(img/searchAfter.png) top left no-repeat;
       position: absolute;
       bottom: -21px; }
}
@media (min-width: 900px) {
     #header .searchBox {
     }
}


#s {
  width: 198px;
  height: 39px;
  padding: 3px 8px;
  background: transparent;
  border: none; }

#searchsubmit {
  background: #c1d8ff url(img/search.png) center center no-repeat;
  margin: 0;
  padding: 0;
  height: 39px;
  width: 45px;
  text-indent: -10000px;
  border: none;
float: right;
}

.search #content .searchBox, .error404 #content .searchBox {
  margin: 20px auto 30px; }

/**********************************************************************
 * 			Shotrcodes
 ********************************************************************/
.boxGreen, .boxRed, .boxBlue {
  margin-bottom: 1.1em;
  background-position: 17px 10px;
  background-repeat: no-repeat;
  padding-left: 70px;
  clear: both; }

.boxGreen {
  background-image: url(img/tick.png);
  background-color: #edfcd5;
  border: 1px solid #c4f576; }

.boxRed {
  background-image: url(img/close.png);
  background-color: #ffd9c8;
  border: 1px solid #ff9362; }

.boxBlue {
  background-image: url(img/info.png);
  background-color: #d4e2ef;
  border: 1px solid #8ab0d3; }

.boxGrey {
  margin-bottom: 1.1em;
  padding-bottom: 1px;
  padding-top: 1px;
  border: 1px solid #dddddd;
  background: #f9f9fa; }

.boxGrey p:last-child {
  display:inline;
}

.tickListWrapper ul, .tickListWrapper ol {
  list-style: url(img/checkmark.gif);
  margin-right: 6%; }

/**********************************************************************
 *      Archive
 ********************************************************************/
body .wp-pagenavi {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8em; }
  body .wp-pagenavi span, body .wp-pagenavi a {
    display: inline-block;
    float: none;
    margin: 2px 2px 2px 0;
    padding: 8px 12px 6px;
    border: none; }
  body .wp-pagenavi .pages {
    display: none; }
  body .wp-pagenavi .current {
    background: #777;
    color: #fff; }
  body .wp-pagenavi a {
    background: #EEE; }

@media (max-width: 767px) {
     #commentform > div {
          margin: 5px 0;
     }
}

.commentlist .comment-body {
padding: 10px;
background: #f6f6f6;
margin-bottom: 10px;
position: relative;
border: 1px solid #f6f6f6;
}
.depth-2, .depth-3, .depth-4, .depth-5 {
margin-left: 22px;
padding-right: 0 !important;
}
@media (max-width: 767px) {
     .depth-2, .depth-3, .depth-4, .depth-5 {
          margin-left: 0;
     }
}

.commentlist .byuser > .comment-body {
background: #fff;
border: 1px solid #eee;
position: relative;
border-radius: 2px;
box-shadow: 0 2px 5px -5px #555;
}
.commentlist .byuser > .comment-body:after {
content:url(https://0.gravatar.com/avatar/eea1be690d4e25e7adcf3e7f97ca3a21?s=32);
position:absolute;
right: 6px;
top: 6px;
opacity: 0.4;
}
.commentlist .byuser:hover:after {
opacity: 1;
}
.comment-reply-link {
font-size: 0.7em;
position: absolute;
right: -1px;
bottom: -1px;
padding: 1px 8px;
background: #fafafa;
border-radius: 2px;
color: #333;
border: 1px solid #eee;
}
.comment-reply-link:hover {
text-decoration: none;
background: #fefefe;
}
body ul#sharebar {
padding: 8px 4px !important;
border-radius: 2px;
box-shadow: 0px 1px 2px #eee;
border-color: #f5f5f5 !important;
margin-top: 5px !important;
}
body ul#sharebar li {
margin: 0 !important;
}
#sharebar iframe table {
margin: 0 auto;
}
body ul#sharebarx li {
list-style: none;
margin-right: 5px;
}
#sharebar .fb-share-button {height:66px}

/* CSS for Posts per Cat */
#content #ppc-box .ppc-box .ppc {
    border: 1px solid #eee;
    background: #fcfcfc;
    box-shadow: 0 2px 1px rgba(50,50,50,0.05);
    margin: 0 0 20px;
    padding: 0;
}
#content #ppc-box .ppc-box .ppc h3 {
    padding: 5px 15px;
    background: #e8ecf3;
    text-transform: uppercase;
}
/* list style */
#content #ppc-box .ppc-box .ppc ul {
    margin: 10px 14px;
}
#content #ppc-box .ppc-box .ppc ul li {
    background: none;
    padding-left: 0;
}

#content #ppc-box .ppc-box .ppc ul li:before {
    content: url("img/ico-asterisk.png");
    margin-right: 8px;
}

#content #ppc-box .ppc-box .ppc ul li a {
    color: #444;
}

.sekuraktable { width: 100%; }
.sekuraktable tbody tr:nth-child(odd) { background-color: #eee; }
.sekuraktable tbody tr td { padding: 5px; vertical-align: top; }
.sekuraktable thead tr th { padding: 5px; text-align: center; font-weight: bold; }


@media (max-width: 767px) {
     .nav-wrapper {
          transform: translateX(100%);
          transition: transform 250ms ease-out;
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          overflow-y: auto;
          z-index: 10;
          padding-top: 84px;
          background-color: #f2f2f2;
     }
     .admin-bar .nav-wrapper {
          padding-top: 130px;
     }
}

input[type="checkbox"]:checked ~ .nav-wrapper {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
@media (max-width: 767px) {
header#header nav ul {
     margin-top: 40px;
     border-top: 1px solid #ccc;
}
header#header nav ul li {
     display: block;
     padding-bottom: 0;
}
header#header nav ul li a {
     border-right: none;
     border-bottom: 1px solid #ccc;
     padding: 10px 15px 20px;
     width: 100%;
     box-sizing: border-box;
}
.sidebarIconToggle {
    transition: all 0.3s, top 0s;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}
input[type="checkbox"]:checked + .sidebarIconToggle {
     position: fixed;
}
.admin-bar input[type="checkbox"]:checked + .sidebarIconToggle {
     top: 68px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
}


@media (max-width: 820px) {
     .fb-like, .fb-like span, .fb-like span iframe, .fb-like-box, .fb-like-box span, .fb-like-box span iframe, input, select, textarea {
          max-width: 100%;
     }
}

.fb_iframe_widget {
     max-width: 100%;
     overflow: hidden;
}


.text-adv {
     background: #999;
     color: #fff;
     text-align: center;
     padding: 15px 10px 10px;
     margin-bottom: 40px;
     min-height: 36px;
}
#header + .text-adv {
     margin-top: -34px;
}
.text-adv p {
     margin: 5px 0;
}
.text-adv a {
     color: inherit;
     text-decoration: underline;
}
.text-adv .text-content {
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     vertical-align: middle;
     max-width: 80%;
}
.text-adv .icon-content {
     display: inline-block;
     vertical-align: middle;
     margin-left: 10px;
}
.text-adv .icon-content * {
     max-height: 32px;
}


.callout-box {
     position: fixed;
     bottom: 30px;
     right: 15px;
     background-color: #f2f2f2;
     padding: 10px;
     width: 140px;
     border: 1px solid #ccc;
     border-radius: 4px;
     text-align: center;
     box-shadow: 0 4px 30px rgba(0,0,0,0.1);
     font-size: 16px;
     font-family: monospace;
     line-height: 1;
}
.callout-box.hidden {
     display: none;
}
@media (max-width: 768px) {
     .callout-box {
          display: none;
     }
}

.callout-title, .callout-name, .callout-tel, .callout-email {
     margin: 8px 0;
}
.callout-title {
     max-width: 110px;
     margin-left: auto;
     margin-right: auto;
}
.callout-close-btn {
     display: inline-block;
     cursor: pointer;
     font-size: 27px;
     position: absolute;
     right: -6px;
    top: -6px;
    background-color: #d4474c;
    color: #fff;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    line-height: 20px;
}

body.dark {
     background-color: #282828;
     color: #b5aca8;
}
body.dark .text-adv {
     background-color: #290f00;
}
body.dark .callout-box {
     background-color: #290f00;
     border-color: #500a0d;
     box-shadow: 0 4px 30px rgba(0,0,0,0.6);
}
body.dark a {
     color: #ff666b;
}
body.dark hr {
     border-color: #666;
}
body.dark input:not([type="submit"]), body.dark textarea, body.dark select {
     border-color: #282828;
     padding: 10px;
     background-color: #ece8df;
}
body.dark input[type="submit"] {
     border-color: #d4474c;
     background-color: #d4474c;
     padding: 10px 20px;
}
body.dark .meta {
     border-color: #ff666b;
}
body.dark #sidebar h1, body.dark #sidebar h2, body.dark #sidebar h3, body.dark #sidebar h4 {
     color: #ff666b;
}
body.dark a.text2link, body.dark header#header nav ul li a, body.dark .postTitle a, body.dark .meta a, body.dark .commentlist .comment-author a, body.dark #sidebar a {
     color: #b5aca8;
}
body.dark header#header nav ul li a {
     border-color: #777;
}
body.dark .boxGreen, body.dark .boxRed, body.dark .boxBlue, body.dark .boxGrey {
     background-color: transparent;
}
body.dark .widget .textwidget, body.dark .widgetTitle {
     background-color: transparent;
     padding-left: 0;
     padding-right: 0;
}
body.dark .widget ul {
     background-color: transparent;
}
body.dark .widget ul li {
     padding-left: 0;
     padding-right: 0;
     border-color: #666;
}

header#header {
     background-color: transparent;
}
body.dark header#header .nav-wrapper {
   background: #282828;
}
body.dark #content #ppc-box .ppc-box .ppc {
   background: #000;
   border-color: #333;
}
body.dark #content #ppc-box .ppc-box .ppc h3 {
   background: #333;
}
body.dark #content #ppc-box .ppc-box .ppc ul li a {
   color: #b5aca8;
}
body.dark .spinner {
   background-color: #fff;
}
body.dark .enlighter-t-enlighter {
   background-color: #ece8df;
}

body.dark footer#footer {
     background-color: #000;
}
body.dark .wp-pagenavi a {
     background-color: transparent;
}
body.dark .searchBox {
     background-color: transparent;
}

body.dark blockquote {
     background-color: #000;
}



.switch-theme {
     position: absolute;
     right: 10px;
     top: 20px;
}
@media (max-width: 640px) {
     .switch-theme {
          right: auto;
          top: 26px;
          left: 10px;
     }
}


body.dark .switch-theme {
     color: #ece8df;
}
.switch-theme svg {
     fill: currentColor;
     width: 20px;
     height: 20px;
}

.switch-theme .checkbox {
	opacity: 0;
	position: absolute;
}

.switch-theme .label {
	background-color: #ddd;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 50px;
}
body.dark .label {
     background-color: #000;
}

.switch-theme .label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 26px;
	width: 26px;
	transform: translateX(0px);
}
body.dark .label .ball {
     background-color: #555;
}

body.dark .commentlist li {
     background: #333;
}
body.dark .commentlist .comment-body {
     background: #333;
     border: 1px solid #333;
}
body.dark .comment-reply-link {
     background: #000000;
     border: 1px solid #000;
}
body.dark .commentlist .byuser > .comment-body {
     background: #222;
     border: 1px solid #222;
}

.switch-theme .checkbox:checked + .label .ball {
	transform: translateX(30px);
}
