* {transition: 0.5s;}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #ddd;
}

.card {
  padding: 10px;
  border: 1px solid #888;
  margin: 10px;
}

.card.completed{
  opacity: 0.5;
}

.card.completed h4{
  text-decoration: line-through;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
